<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>

    <!-- WinJS references -->
    <script src="../Microsoft.WinJS-reduced/js/base.js"></script>
    <script src="../Microsoft.WinJS-reduced/js/ui.js"></script>
    <link href="../Microsoft.WinJS-reduced/css/ui-light.css" rel="stylesheet" />
    <link href="../css/settings-desktop.css" rel="stylesheet" />

    <!-- bridge references -->
    <script src="../js/bridge.js"></script>
    <script src="../js/events.js"></script>

    <!-- Page references -->
    <script src="../js/uiHelpers.js"></script>
    <script src="../js/roamingDisambiguationPage.js"></script>
</head>
<body>
</body>
</html>
