<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Error</title>

    <!-- WinJS references -->
    <script src="../Microsoft.WinJS-reduced/js/base.js"></script>
    <script src="../Microsoft.WinJS-reduced/js/ui.js"></script>

    <!-- Page references -->
    <script src="../js/tokenManagerErrorHandler.js"></script>
</head>
<body>
    <div class="app-content">
        <div class="control-page">
            <div class="page-body">
                <header class="body-header" aria-labelledby="_title">
                    <h2 id="_title"></h2>
                </header>
                <div class="body-container">
                    <div class="container-content">
                        <p aria-labelledby="_errorText" id="_errorText"></p>
                        <p aria-labelledby="_errorCode" id="_errorCode"></p>
                        <a href="windows-feedback:?contextid=1212" id="_feedback" data-win-res="{textContent: '/Errors/SendFeedback'}"></a>
                        <p>
                            <span aria-labelledby="_correlationId" id="_correlationId" class="text-caption"></span>
                            <br />
                            <span aria-labelledby="_timeStamp" id="_timeStamp" class="text-caption"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="page-footer">
                <div class="footer-buttons template-buttonGroup">
                    <button id="_okButton" aria-describedby="_title" autofocus class="win-button control-button button_primary" data-win-res="{textContent: '/Errors/Cancel'}"></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
