<!-- progress -->
<div class="app-content" id="_progress">
    <div class="control-page page_centered">
        <div class="page-body">
            <div class="body-container">
                <div class="container-content">
                    <div class="control-progress">
                        <progress id="_progressControl" class="win-ring win-large withText"></progress>
                        <h4 id="_progressText" data-bind="{text: progressText}" aria-live="assertive" aria-role="alert"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>