<!-- progress -->
<div class="app-content">
    <div class="control-progress" id="_progress">
        <svg id="_progressControl" class="radialSize" viewBox="0 0 16 16">
            <circle class="radial-bg" cx="8px" cy="8px" r="7px"></circle>
            <circle class="radial radial-infinite" cx="8px" cy="8px" r="7px"></circle>
        </svg>
        <h4 id="_progressText" data-bind="{text: progressText}" aria-live="assertive" aria-role="alert" tabindex="0"></h4>
        <p id="_progressSubtext" data-bind="{html: progressSubtext}" aria-live="assertive" aria-role="alert" tabindex="0"></p>
    </div>
</div>
