<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inclusive-common.css" />
    <!-- WinJS references -->
    <script src="/Microsoft.WinJS-reduced/js/base.js"></script>

    <!-- requirejs references -->
    <script src="/core/js/require-helpers.js"></script>
    <script src="/core/js/requirePath-config-core.js"></script>
    <script data-main="/webapps/inclusiveOobe/js/oobeeula-page.js" src="/lib/require.js"></script>
</head>
<body class="webapp-inner" data-bind="oobeHotKeys: optinHotKey">
    <div class="body-container" data-bind="oobePageDefaultAction: pageDefaultAction">
        <div class="container-content">
            <oobe-header params="title: title, supportClickableTitle: $root.supportClickableTitle"></oobe-header>
            <div class="iframe-row">
                <iframe class="eula-iframe" x-ms-format-detection="none" role="presentation" sandbox="allow-same-origin" data-bind="iframeContent: { content: $root.msEulaFileContent, dir: document.documentElement.dir, preventLinkNavigation: true, focusBody: true, addStyleSheet: $root.frameStyleSheetPath, frameTitle: $root.msEulaAriaLabel, pageDefaultAction: $root.pageDefaultAction }"></iframe>
                <!-- ko if: showOEMEula && isLiteWhitePersonality -->
                <iframe class="eula-iframe" x-ms-format-detection="none" role="presentation" sandbox="allow-same-origin" data-bind="iframeContent: { content:$root.oemEulaFileContent, dir: document.documentElement.dir, preventLinkNavigation: true, addStyleSheet: $root.frameStyleSheetPath, frameTitle:oemEulaAriaLabel, pageDefaultAction: $root.pageDefaultAction }"></iframe>
                <!-- /ko -->
                <!-- ko if: showOEMEula && !isLiteWhitePersonality -->
                <iframe class="eula-iframe" x-ms-format-detection="none" role="presentation" sandbox="allow-same-origin" data-bind="iframeContent: { content:$root.oemEulaFileContent, dir: document.documentElement.dir, preventLinkNavigation: true, frameTitle:oemEulaAriaLabel, pageDefaultAction: $root.pageDefaultAction }"></iframe>
                <!-- /ko -->
            </div>
        </div>
        <oobe-footer params="flexEndButtons: flexEndButtons"></oobe-footer>
    </div>
</body>
</html>
