<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- WinJS references -->
    <script src="/Microsoft.WinJS-reduced/js/base.js"></script>

    <!-- requirejs references -->
    <script src="/core/js/require-helpers.js"></script>
    <script src="/core/js/requirePath-config-core.js"></script>
    <script data-main="/webapps/inclusiveOobe/js/oobeerror-page.js" src="/lib/require.js"></script>
</head>
<body class="webapp-inner">
    <div class="body-container">
        <div class="container-content error-light">
            <oobe-header params="title: title, subtitle: subHeaderText"></oobe-header>
            <div class="template-tooltip tooltipType_error" data-bind="html: cxidText"></div>
        </div>
        <oobe-footer params="flexEndButtons: flexEndButtons"></oobe-footer>
    </div>
</body>
</html>