<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- WinJS references -->
    <script src="/Microsoft.WinJS-reduced/js/base.js"></script>
    <!-- ui.js is needed for toggle switches control -->
    <script src="/Microsoft.WinJS-reduced/js/ui.js"></script>

    <!-- requirejs references -->
    <script src="/core/js/require-helpers.js"></script>
    <script src="/core/js/requirePath-config-core.js"></script>
    <script data-main="/webapps/inclusiveOobe/js/oobesettings-page.js" src="/lib/require.js"></script>
</head>
<body class="webapp-inner">
    <script type="text/html" id="custom-content-template">
        <!-- ko foreach: toggleContent -->
        <div class="toggle-container" role="group" data-bind="attr: { 'aria-label': $data.name }">
            <Strong data-bind="text: $data.name"></Strong>
            <br>
            <oobe-toggle params="contentHeader: $data.contentHeader, titleText: $data.titleText, labelOnText: $data.labelOnText, labelOffText: $data.labelOffText,
                            descriptionOn: $data.descriptionOn, descriptionOff: $data.descriptionOff, checked: $data.checkedValue, isLastInAGroup: $data.isLastInAGroupValue,
                            summaryFormatString: $root.resources['SettingNarratorDescriptionFormatString']"></oobe-toggle>
        </div>
        <!-- /ko -->
        <p class="toggle-header" id="lastElementInToggleList" data-bind="html: $root.footerDescriptionText"></p>
    </script>

    <div class="body-container" data-bind="oobePageDefaultAction: pageDefaultAction">
        <div class="container-content">
            <oobe-header params="title: title, subtitle: subHeaderText"></oobe-header>

            <!-- ko if: customizeVisible -->
            <div class="toggle-content" id="scrollRegion" aria-hidden="true">
                <div>
                    <div data-bind="template: { name: 'custom-content-template', foreach: contentSettings, data: { headerText: $data.footerDescriptionText }}"></div>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko if: learnMoreVisible -->
            <div class="iframe-row med-iframe">
                <iframe class="eula-iframe" x-ms-format-detection="none" sandbox="allow-same-origin allow-scripts" id="learnMoreIFrame" data-bind="iframeContent: { content:$root.learnMoreContent, dir:document.documentElement.dir, focusBody: true }, attr: { 'aria-label': resources.LearnMoreTitle }"></iframe>
            </div>
            <!-- /ko -->
        </div>
        <oobe-footer params="flexEndButtons: flexEndButtons"></oobe-footer>
    </div>
</body>
</html>
